:root {
  --blue-acqua: #60b6bf;
  --graphite: #504e4e;
  --black: #1f1f1f;
  --gray-medium: #969393;
  --pink: #ff8580;
  --pink-light: #ffc4bf;
  --yellow-light: #fff5e6;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pageTitle {
  color: var(--graphite);
  font-weight: 300;
  text-align: center;
}
