:root {
  font-family: Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  align-items: center;
  background-color: #fff5e6;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}
